// btn
.btn {
    border-radius: $border-radius;
}

// pagination
.page-link {    
    background-color: rgb(238, 238, 238);
    border: 0px;
    color: $info;
}

.page-item:first-child .page-link {
    border-radius: 0.25rem;    
}
