// 保持圖片比例
.object-cover {
    object-fit: cover;
}

// 文字大小
.font-size-xxs {
    font-size: $font-size-xxs; //12px
}

// 圓角
.border-radius-lg {
    border-radius: $border-radius-lg;
}

// 文字陰影
.text-shadow {    
    text-shadow: #00000040 0px 4px 4px;
}

// 寬度比例
.w-25 {
    width: 25%;
}

.w-35 {
    width: 35%;
}